<!-- uppercase is a built in Angular Pipe, providing interpolation binding after the pipe operator (|) -->
<h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div>
  <label>name:
    <!-- ngModel is Angular's 2-way binding system. Must be "opted-in" through import in app.module.ts -->
    <input [(ngModel)]="hero.name" placeholder="name"/>
  </label>
</div>

<h2>My Heroes</h2>
<ul class="heroes">
  <!-- *ngFor iterates through list of heroes -->
  <li *ngFor="let hero of heroes">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>
